
.section-greeting{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.main-content {
    flex: 1;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  justify-content: space-between;
}



 




.logo__text {
    position: absolute;
    top: 0;
    left: rem(-9999px);
}

.header-nav {
    margin-left: auto;
    margin-right: rem(20px);

    @include tablets {
        display: none;
    }
}

.menu-list {
    display: flex;
    width: 100%;
    
    
    
}

.menu__item {
    margin-left: rem(15px);
    &:after {
        content: '•';
        color: $main;
        margin-left: rem(10px);
    }
    &:last-child:after {
        display: none;
    }
}



.menu__link {
    color: $main;
    font-size: rem(13px);
    text-transform: uppercase;
    font-weight: medium;
    font-family: 'ubuntu';
    
}

.header__links {
    display: flex;
    align-items: center;
}

.header-btn {
    margin-left: rem(10px);
    outline: none;
    border: transparent;
    background-color: #e45028;
    border-radius: rem(3px);
    display:inline-block;
    width: rem(98px);
    height: rem(35px);
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #c1401e;
    }
   
}

.header-btn__link{
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
}

.hamburger-menu {

}

.hamburger-menu___link {
    position: relative;
    height: rem(22px);
    margin-left: rem(30px);
    display: flex;
    align-items: center;
    display: none;

    @include tablets {
        display: flex;
    }
}

.hamburger-menu__item {
    width: rem(24px);
    height: rem(4px);
    background-color: $main;
    display: inline-block;
    border-radius: rem(3px);

    &:before {
        content: '';
        top: 0;
        position: absolute;
        @extend .hamburger-menu__item
    }

    &:after {
        content: '';
        bottom: 0;
        position: absolute;
        @extend .hamburger-menu__item
    }

    
}


.greeting-desk {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-bottom: 4%;

    @include tablets {
        
        
    }
}



.burger {
    display: flex;
    
    @include tablets {
     flex-direction: column;
     padding: 0 rem(100px);
    }

    @include phones {
        padding: 0;
    }

    @include phones-small {
        padding: 0;
    }
}

.burger-pic {
    width: 50%;

    @include tablets {
        width: 100%;
        text-align: center;
    }
}

.burger__img {
    max-width: 100%;

    @include phones-small {
        width: 60%;
    }
}

.burger-desk {
    margin-left: rem(15px);
    padding-top: rem(70px);
    width: 50%;

    @include tablets {
        width: 100%;
        text-align: center;
        padding-top: 0;
    }
}

.section__title--yellow {
    color: $orange;
    margin-bottom: rem(30px);

    @include phones {
        font-size: rem(49px);
        margin-bottom: rem(10px);
    }
}


.burger__text {
    font-family: 'lifehack';
    font-size: rem(65px);
    color: $main;
    font-weight: medium;
    line-height: rem(60px);
    
    @include phones {
        font-size: rem(50px);
    } 
}



.greeting-icon {
    align-items: center;
    display: flex;
    margin-bottom: rem(20px);
    justify-content: center;
}

.arrow-scrolll__svg {
    width: rem(33px);
    height: rem(33px);
    fill: $main;
}

