.reviews {
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    min-width: rem(1100px);
}

.users {
    width: 100%;
    max-width: 100%;
}

.users__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.users__item {
    height: 50%;
    width: 25%;
    position: relative;
    
    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.users__avatar {
    background-position: center center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    filter: grayscale(1);
    background-size: cover;
    

}

.users__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    padding: rem(70px) rem(55px) 0 rem(55px);
    color: $main;
    font-size: rem(14px);
    margin-bottom: rem(15px);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .3s;
    
    &:hover {
        opacity: 1;
        
    }

    @include tablets {
        text-align: center;
        padding-top: rem(30px)
    }

    @include phones-small {
        padding: rem(40px) 0 0 0;
    }
}

.users__name {
    margin-bottom: rem(20px);
    font-size: rem(14px);
    font-family: 'gagalinregular';
    color: $main;

    @include tablets {
        font-size: rem(15px);
    }

    @include phones {
        font-size: rem(25px);
        margin-bottom: rem(30px);
    }
}

.users__text {
    line-height: rem(24px);
    color: $main;
    margin-bottom: rem(20px);
    display: block;
    font-family: 'ubuntu';
    font-weight: lighter;

    @include tablets {
        margin-bottom: rem(10px);
    }

    @include phones {
        display: none;
    }
}

.users__btn {
    display: block;
    width: rem(109px);
    height: rem(34px);
    background-color: $black;
    border: rem(1px) solid transparent;
    border-radius: rem(3px);
    &:hover {
        background-color: #1f2122;
        transition: background-color 0.2s;
        cursor: pointer;
    }

    @include tablets {
        display: inline-block;
    }

    @include phones {
        display: none;
    }


}

.users__link {
    color: $main;
    font-size: rem(13px);
    text-transform: uppercase;

}

.users__btn--mobile {
    @extend .users__btn;
    display: none;
    width: rem(120px);
    height: rem(40px);
    border-radius: rem(5px);
    
    @include phones {
        display: inline-block;
    }
}

.users__link--mobile {
    @extend .users__link;
}